 :root {
      --dark-orange: #c65d21;
      --light-orange: #f4a261;
      --pale-orange: #fff0e5;
      --white: #ffffff; 

      --text: #2f211b;
      --muted: #765f52;
      --border: #f0d7c5;
}

body {
    background-color: var(--pale-orange);
    color: var(--text);
}

header {
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 3px 40px;
    border-bottom: 2px solid var(--border);
}

header h1 {
    font-family: 'baloo 2', cursive;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--dark-orange);
    font-size: 40px;
}

nav {
    display:flex;
    justify-content: flex-end;
    gap: 40px;
    flex: 1;
}

nav a {
    font-family: poppins, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    position:relative;
    color: var(--muted);
    padding-bottom: 4px;
    background-color: var(--pale-orange);
    transition: all 0.3s ease;

    padding: 12px 20px;
    margin: 10px;

    display: inline-block;
    border-radius: 16px;
}

nav a:hover {
    background-color: var(--light-orange);
    color: var(--white);
}

section {
    margin: 50px auto;
    width: 95%;
}

section h2 {
    color: var(--dark-orange);
    font-size: 30px;
    font-family: poppins, sans-serif;
}

.city {
    display: flex;
    gap: 25px;
}

.city {
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 15px;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 15px #eee;
}

.city img {
    width: 150px;
    height: 150px;
    color:var(--white);
    display:block;
    border-radius: 1px;
    padding-block: 10px;
    padding-left: 19px;
    padding-top: 20px;
     border-radius: 100px;
}

.city h3 {
    font-family: poppins, sans-serif;
    color: var(--dark-orange);
    font-size: 23px;
    margin-top: 20px;
}

.city p {
    font-family: poppins, sans-serif;
    color: var(--muted);
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
}
