*{
    margin: 0;
    padding: 0;
    
}

.main{}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width : 100%;
   padding: 10px 5%;
}

.icon, .menu {
    width: auto;
    float: none;
    height: auto;
}

.logo{
    color:darkorange;
    font-size: 35px;
    font-family: Arial, sans-serif;
    padding: 0px;
    float: none;
    padding-top: 0px;
}

.menu {
    width: 400px;
    float: center;
    height: 70px;
    
}

ul {
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 10px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: darkorange;
    transition: 0.4s ease-in-out;
}